body {
	background-color: black;
}

.buton1, .buton2 {
	position: relative;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	top: 20px;
}

.buton1 {
	background-image: url('butonp.png');
	background-size: 100% 100%;
	background-position: 0px;
}
.buton2 {
	background-image: url('butonm.png');
	background-size: 100% 100%;
	background-position: 0px;
}
